# Node & Build
node_modules/
dist/
.env
npm-debug.log
test-results/
playwright-report/
blob-report/

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Capacitor & iOS Native
ios/App/App/public/
ios/App/Pods/
ios/App/build/
ios/App/App.xcworkspace/xcuserdata
ios/DerivedData/

# Xcode specific
*.xcworkspace/xcuserdata/
*.userdata
*.lssharedfilelist
*.lock-wscript
.tool-versions

# Agent / IDrive Specifics
.vscode/
.agent/